header {
  background-color: #1566d1;
  color: #fff;
  margin: 0;
  height: 60px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  text-align: center;
  margin: 0;
}
