.daily-calendar {
  height: calc(100vh - 60px); // TODO: header height deve ser uma variável
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
  }

  .hours {
    height: 100%;
    overflow: scroll;

    .hour {
      height: 48px;
      border-top: solid 2px lightgray;
      display: flex;

      &__label {
        min-width: 50px; // TODO: transformar em variável local
        box-sizing: border-box;
        padding: 5px;
      }

      &__content {
        width: 100%;
        border-left: solid 1px lightgray;

        &__first-half,
        &__second-half {
          height: 24px;
          width: 100%;
          box-sizing: border-box;
        }

        &__first-half {
          border-bottom: solid 1px lightgray;
        }
      }
    }
  }
}
