<div class="daily-calendar">

  <div class="header">
    <span>{{ months[day.month] }}</span>
    <div>
      <button (click)="previousYear()">&lt;</button>
      <span>{{ day.year }}</span>
      <button (click)="nextYear()">></button>
    </div>
    <div>
      <button (click)="previousDay()">&lt;</button>
      <button (click)="nextDay()">></button>
    </div>
  </div>

  <div class="date">
    <span class="week">{{ weeks[day.week] }}</span>
    <span class="day">{{ day.day }}</span>
  </div>

  <div class="hours">
    <div class="hour" *ngFor="let hour of hours">
      <div class="hour__label">{{hour}}</div>
      <div class="hour__content" *ngFor=" let week of weeks">
        <div class="hour__content__first-half"></div>
        <div class="hour__content__second-half"></div>
      </div>
    </div>
  </div>

</div>
